// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  @include breakpoint($breakpoint-mobile--large) {
    padding-top: 40px;
  }

  padding-top: 80px;
}

.hero {
  &__header {
    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 40px;
    }

    margin-bottom: 64px;
  }

  &__title {
    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--big + 5px;
    }

    color: $palette-blue;

    font-weight: $weight-Bold;
    font-size: $font-size__title--medium;
    font-family: Consolas, sans-serif;
  }

  &__banner {
    @include breakpoint($breakpoint-mobile--large) {
      flex-direction: column-reverse;
      padding-bottom: 0;
      border-bottom: none;
    }

    display: flex;
    flex-direction: column;

    padding-bottom: 50px;
    border-bottom: 1px solid #dcdcdc;
  }

  &__overflow {
    @include breakpoint($breakpoint-mobile--large) {
      padding-bottom: 16px;
    }

    overflow: auto;
    padding-bottom: 0;

    img {
      @include breakpoint($breakpoint-mobile--large) {
        width: auto;
        max-inline-size: initial;
        max-block-size: initial;
      }
    }
  }

  &__label {
    @include breakpoint($breakpoint-mobile--large) {
      margin-top: 0;
      margin-bottom: 26px;
    }

    margin-top: 20px;
  }

  &__content {
    @include breakpoint($breakpoint-mobile--large) {
      padding-top: 34px;
    }

    padding-top: 55px;

    .section__title {
      margin-bottom: 20px;
    }
  }
}
