// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  color: $color-text__primary;

  font-size: $font-size__text--regular;
  font-family: ArialMT, Arial, sans-serif;

  line-height: $line-height--primary;
}

figcaption {
  font-style: italic;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: Consolas, sans-serif;
}
