.quote {
  display: flex;
  align-items: flex-start;

  font-style: italic;
  font-family: OpenSans, sans-serif;

  &__icon {
    margin-right: 24px;
  }

  &__body {
    padding-top: 10px;
    color: map-get($color-text__black, "dark");
    font-size: $font-size__text--big;

    figcaption {
      margin-top: 24px;
      color: $color-text__gray;
      font-size: $font-size__text--regular;
    }
  }
}
