@@include('layout/partials/header.html')

<!-- Основной контент -->
<main id="home">
  <section id="hero" class="section">
    <div class="container">
      <div class="hero">
        <div class="hero__header">
          <h1 class="hero__title text-center">
            Путь JavaScript
          </h1>
        </div>
        <!-- /.hero_header -->

        <figure class="hero__banner">
          <img class="image image--cover" src="img/layout/page/index/hero/banner.jpg" alt="">
          <figcaption class="hero__label">Можно выделить три основных направления для прогресса JavaScript</figcaption>
        </figure>
        <!-- /.hero__banner -->

        <div class="hero__content">
          <h2 class="section__title">Серверный JavaScript</h2>

          <div class="hero__quote">
            <div class="quote">
              <img src="img/icons/misc/quotes.png" alt="" class="quote__icon">
              <figure class="quote__body">
                <blockquote>
                  Разработчики и клиенты часто неправильно понимают, что такое система. Они видят графический интерфейс и думают, что он и есть система. Они определяют систему в терминах графического интерфейса и считают, что должны сразу начать работу с графическим интерфейсом. Они не понимают важнейшего принципа: ввод/вывод не важен.
                </blockquote>

                <figcaption>— Р. Мартин</figcaption>
              </figure>
              <!-- /.quote__body -->
            </div>
            <!-- /.quote -->
          </div>
          <!-- /.hero__quote -->
        </div>
        <!-- /.hero__quote -->
      </div>
      <!-- /.hero__content -->
    </div>
    <!-- /.hero -->
    </div>
    <!-- /.container -->
  </section>
</main>

@@include('layout/partials/footer.html')